@import "tailwindcss";

html {
  height: 100% !important;
  overflow: hidden !important;
}
body {
  height: 100% !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  background: #0F172A !important;
}
#root {
  height: 100% !important;
  overflow: hidden !important;
}
